body {
  color: rgba(330, 6, 6, 1);
  font: 500 1em Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  margin: 0;
  padding: 0;
}

/* remove outline of input text element */
*:focus {
  outline: none !important;
}

/* include padding and margin to the width and height  */
* {
  box-sizing: border-box;
}

.Dropzone-img {
  width: 100%;
  border: thin solid rgba(64, 64, 64, 0.15);
  border-radius: 4px;
  object-fit: contain;
}

.Dropzone {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: thin dashed #c2c2c2;
  background: #fcfcfc;
  height: 30vh;
  border-radius: 5px;
}

.Dropzone-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 30vh;
}

.Dropzone-page {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 30vh;
}

#canvas {
  position: absolute;
  top: 10px;
  bottom: 10px;
}

#Results__container {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 70vh;
}

#Results__wrapper {
  display: flex;
  justify-content: space-around;
  border: thin dashed #c2c2c2;
  background: #fcfcfc;
  height: 70vh;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 30vh;
  background-color: aquamarine;
  align-content: baseline;
  overflow: scroll;
}

.Results__child {
  width: 49%;
  height: auto;
  padding: 4px;
}

.Results__child--image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

